@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-900;
  }
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 96px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 96px; opacity: 1;}
}

.show {
  -webkit-animation: fadein 0.5s, 60s;
  animation: fadein 0.5s, 60s;
}
